


.container {
    display: grid;
     grid-template-rows: [row1-start] 20% [row1-end row2-start] 60% [row2-end row3-start] 20% [row3-end];
    padding: 10%; 
    justify-content: center;
      background-color: #b98fc0; 
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 30%;


}

.username, .password, .submit,  {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: row1-start grid-row-end: 3;
     font-family: 'Nunito Sans', sans-serif; 
    padding: 4%;
    text-align: center;
}
